body{
    font-family: 'Times New Roman', serif;
    margin: 0px;
    padding-top:0px
}
nav{
    background-color: #424558;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    gap: 5px;

}
nav li{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    color: #FFF;
}
.menu-index:hover{
    border-top: 5px solid #895421;
    background-color: RGBa(200,200,154,0.15);
}
.menu-Apropos:hover{
    border-top: 5px solid #e74297;
    background-color: RGBa(245,245,298,015);
}
.menu-Competences:hover{
    border-top: 5px solid #5847;
    background-color: RGBa(222,222,222,0.15);
}
.menu-Projets:hover{
    border-top: 5px solid #365848;
    background-color: RGBa(245,245,000,0.15);
}
.menu-Contacts:hover{
    border-top: 5px solid #e547;
    background-color: RGB(229,289,274,0.15);
}
nav li:hover a{
    padding: 15px 30px 20px 30px;
}
.cote{
    display: inline-block;
    text-align: right;
}
.identity{
    font-family: 'Times New Roman', serif;
    text-align: justify;
    color: white;
    margin: 3px;
}

/* Propriété pour l'introduction*/
.Intro{
    margin: 0px;
    padding: 130px 180px 180px 100px;
    background-color: rgb(239, 246, 246);
    
}
#gret{
    text-align: center;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.pepe{
    font-family: 'Times New Roman', serif;
    font-size: 20px;
}

#prj{
    padding: 15px 30px;
    margin-left: 200px ;
    background-color: rgb(8, 235, 238);
    text-decoration: none;
    line-height: 40px;
    width: 50px;
    border: 5px
}

/*Propriété à propos _ initiale*/
.Prop{
    margin: 0px;
    padding: 50px;
    background-color: white;
}

#prp{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: darkturquoise;
    margin-bottom: 40px;
}
.proptexte{
    display: flex;
    gap: 40px;
    align-items: center;
}

.p1{
    font-family: 'Times New Roman', serif;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;

}

#picture{
    border-radius: 50%;
    width: 350px;
    max-width: 350px;
    flex-shrink: 0;
    object-fit: cover;
    border: 5px solid burlywood;
    height: 290px;
    margin-left: 190px;

}

#Initprop{
    padding: 10px 60px;
    margin-left: 100px;
    text-decoration: none;
    width: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: darkturquoise;
    line-height: 40px;
}

/*Pour compétence initiale*/
.skills{
    margin: 0px;
    padding: 80px;
    background-color: rgb(237, 245, 245);

}

#compe{
    text-align: center;
    margin-bottom: 50px;
}

.skillselem{
    display: flex;
    gap: 70px;
    align-items: center;
}

.softskills ul{
    list-style-type: none;
}

.hardskills ul{
    list-style-type: none;
}

.softskills, .hardskills{
    background-color: white;
    padding: 30px;
    width: 500px;
}

/*style pour projet initiale*/
.Projets{
    margin: 0px;
    padding: 100px;
    background-color: white;
}

#Pojno{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.procon{
    display: flex;
    gap: 70px;
    align-items: center;
}

.Proj1,.Proj2{
    padding: 30px;
    width: 500px;
    background-color: rgb(227, 236, 238);
}

#memo,#vrio{
    text-decoration: none;
    width: 60px;
    padding: 5px 15px;
    background-color: #1bcdec
}
/* propriété contact*/
.formu{
    background-color: rgb(76, 78, 78);
    padding: 20px;

}
.pero{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    text-align: center;
    color: white;
    margin-bottom: 40px;
}
form{
    margin: 0 auto;
    max-width: 600px;
    background-color: transparent;
}
.Conts{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}
.rensei{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.ttop, .yik{
    flex: 1;
}

.ecrit, .parlos{
    margin-top: 10px;
}
label{
    display: block;
    margin-bottom: 5px;
    color: black;
}
textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #d0ebeffa;
    border-radius: 5px;
    min-height: 150px;
}
button{
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: RGB(0,230,230);
    color: black;
    width: 100%;
}

.close{
    background-color: khaki;
    padding: 30px 20px;
    text-align: center;
}
.pieddepage{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tra{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}